<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lida.shopping" >

    <application
        android:name=".app.BaseAppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1" >
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--收货地址-->
        <activity android:name=".activity.ActivityReceiveAddress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--店铺管理-->
        <activity android:name=".activity.ActivityShopManage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--粉丝达人-->
        <activity android:name=".activity.ActivityFan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--全部订单-->
        <activity android:name=".activity.ActivityBooks"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--常见问题-->
        <activity android:name=".activity.ActivityProblem"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--优惠券-->
        <activity android:name=".activity.ActivityCoupon"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--意见反馈-->
        <activity android:name=".activity.ActivitySuggest"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <!--设置-->
        <activity android:name=".activity.ActivitySetting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--申请提现-->
        <activity android:name=".activity.ActivityGetMoney"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--新增地址-->
        <activity android:name=".activity.ActivityAddAddress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--店主专享-->
        <activity android:name=".activity.ActivitySpecial"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--订单确认-->
        <activity android:name=".activity.ActivityBookConfirm"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--购买礼包-->
        <activity android:name=".activity.ActivityBuyGift"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <!--热销排行榜-->
        <activity android:name=".activity.ActivityHotList"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--商品详情-->
        <activity android:name=".activity.ActivityGoodDetail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
    </application>

</manifest>